<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Magento_Sales::missingorder_list"
             title="Manage Missing Orders"
             module="Meetanshi_Missingorder"
             sortOrder="100"
             action="missingorder/listing"
             parent="Magento_Sales::sales_operation"
             resource="Meetanshi_Missingorder::missingorder_list"/>
    </menu>
</config>