<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <colissimo>
                <sallowspecific>0</sallowspecific>
                <active>1</active>
                <model>LaPoste\Colissimo\Model\Carrier\Colissimo</model>
                <title>Colissimo</title>
                <max_package_weight>100</max_package_weight>
                <domiciless_priceorweight>cartweight</domiciless_priceorweight>
                <domicileas_priceorweight>cartweight</domicileas_priceorweight>
                <pr_priceorweight>cartweight</pr_priceorweight>
                <expert_priceorweight>cartweight</expert_priceorweight>
            </colissimo>
        </carriers>
        <lpc_advanced>
            <lpc_pr_front>
                <choosePRDisplayMode>widget</choosePRDisplayMode>
                <prCustomizeWidget>0</prCustomizeWidget>
                <prDisplayFont>verdana</prDisplayFont>
                <prWidgetUrl>https://ws.colissimo.fr/widget-point-retrait/resources/js/jquery.plugin.colissimo.min.js</prWidgetUrl>
            </lpc_pr_front>
        </lpc_advanced>
    </default>
</config>